{{ define "curtidas" }}
<span> {{ .Curtidas }} curtidas </span>
{{ end }}

{{ define "editar" }}
<a href="/editar">Editar Publicação</a>
{{ end }}

{{ define "deletar" }}
<a href="/deletar">Deletar Publicação</a>
{{ end }}

{{ define "cabecalho-publicacao" }}
    <h1 class="display-4"> {{ .Titulo }} </h1>
    <p class="lead"> {{ .Conteudo }}</p>
    <a href=""> {{ .AutorNick }} - {{ .CriadaEm.Format "02/01/2006 3:4" }}</a>
                                    <!-- Jan 2 15:04:05 2006 -->
                                    <!-- 1   2  3  4  5  6 -->
    <hr class="my-4">
{{ end }}

{{ define "publicacao-com-permissao" }}
    <div class="jumbotron" data-publicacao-id="{{ .ID }}">
        {{ template "cabecalho-publicacao" . }}
        <p>
            {{ template "curtidas" . }}
            {{ template "editar" }}
            {{ template "deletar" }}
        </p>
    </div>
{{ end }}

{{ define "publicacao-sem-permissao" }}
    <div class="jumbotron" data-publicacao-id="{{ .ID }}">
        {{ template "cabecalho-publicacao" . }}
        <p>
            {{ template "curtidas" . }}
            {{ template "editar" }}
            {{ template "deletar" }}
        </p>
    </div>
{{ end }}